#intro {
  background-image: url(../img/index-background.jpg);
}

/*--------------------------------------------------------------
# Editions
--------------------------------------------------------------*/

.editions {
  display: grid;
  grid-template-columns: repeat(auto-fit, 180px);
  justify-content: center;
}

.editions div {
  margin-bottom: 30px;
  text-align: center;
}

.editions a {
  color: #888;
}
.editions a:hover {
  color: #AAA;
}

.editions img {
  height: 70px;
}

